:root {
  --primary-color: #6c63ff;
  --secondary-color: #F9F7FE;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: 'Playfair Display', serif;
  --default-font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-weight: normal;
  font-size: 24px;
  color: #272142;
  line-height: 3;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}

.btn-branding {
  color: white;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 18px;
    line-height: 1.5;
  }

   .hero p {
    font-size: 30px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
  }

}
